body{
    padding: 20px 150px;
    overflow: hidden;
}

.submit-area{
    margin-top:50px;
    padding: 40px;
    border-radius: 10px ;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    padding-top: 100px;
    display: none;
}
.status{
    margin: 0 20px;
    padding: 20px;
    color: white;
    border-radius: 10px;
}
.deposite{
    background-color: slateblue;
}

.withdraw{
    background-color: salmon;
}

.balance{
    background-color: orange;
}


